<button (click)="logout()">Logout</button>


<div *ngIf="hasAuth">

  <div id="siteControls">
  
    
    <div>
      Site State
      <button [ngClass]="{active: isOpen}" (click)="setIsOpen(true)">Open</button>
      <button [ngClass]="{active: !isOpen}" (click)="setIsOpen(false)">Closed</button>
    </div>
    <div>
    Site Closed Title Text
      <input type="text" [(ngModel)]="closedText" >  <button (click)="updateClosedText()">Update</button>
    </div>
    <div>
      Site Closed Sub-Title Text
        <input type="text" [(ngModel)]="closedSubText" >   <button (click)="updateClosedSubText()">Update</button>
    </div>
      

  </div>
  

  
  <div class="orderTable">

    <div class="tableItem" *ngFor="let order of orderListStatic">
      <blu-order-card [order]="order"></blu-order-card>
    </div>
  </div>

</div>

<div *ngIf="!hasAuth">
  Go ask Caleb for admin.
</div>