<div class="container">

  <div>
    <span> Created </span> {{order.orderTime | date:'medium'}}
  </div>
  <div>
    <span> Name  </span>{{(customer | async)?.name}}
  </div>
  <div>
    <span> Phone Number </span> {{(customer | async)?.phone}}
  </div>
  <div>
    <span> Email</span> {{(customer | async)?.email}}
  </div>
  <div>
    <span>  OrderID </span> {{order.$key}}
  </div>
  <div>
    <span>  Payment </span> {{order.paymentType}}
  </div>


</div>
<div class="orderItems">
  <div class="tableItem" *ngFor="let item of orderItems | async">
    <div *ngIf="item.name">
      <span class="label">Item</span> {{item.name}}
    </div>
    <div *ngIf="!item.name">
      <span class="label">Item</span> {{item.description }}
    </div>
    <div>
      <span class="label">From</span>{{item.locationDescription }}
    </div>
    <div>
      <span *ngIf="item.alternativeItemDescription" class="label">Alternative</span>{{item.alternativeItemDescription }}
    </div>
  </div>
</div>